name: CD

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  cd:
    uses: TerakomariGandesblood/github-workflows/.github/workflows/rust-cd.yml@main
    with:
      bin: server
